<div style = "width:50%" >
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
        <iframe width="100%" height="100% " 
        src="https://www.youtube-nocookie.com/embed/{{ .Get 0 }}" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
        >
        </iframe>
    </div>
</div>